<br><h1><%= @script.title.upcase %></h1>
<h3><%= @script.logline %></h3>
<h4><br><%= @genre.name %></h4>

<h4 style="text-decoration: underline"><br>Reviews</h4>
<br><% @script.comments.each do |comment|%>
<li><%= comment.description %><br>
<%= comment.user_id %><br>
<%= comment.user.username %></li>
<% end %>


<br><br>

<%= form_for @script do |f| %>

<%= f.fields_for :comments, @script.comments.build do |comments_fields| %>
  <%= comments_fields.label "Add your review" %>
  <div class="help-block">What do you think about this movie?</div>
  <%= comments_fields.text_field :description, :size=>"50", hide_label: true %>
  <% end %>
  <br><br>

  <div class="actions"><%= f.submit class: "btn btn-primary" %></div>
<% end %>



<% if user_signed_in? %>
  <br><br>
  <%= link_to "Erase", genre_script_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>
