<h4><%= @script.title %></h4>
<p><%= @script.logline %></p>
<p><%= @genre.name %></p>

<%= bootstrap_form_for @script do |f| %>
<%= f.fields_for :comments, @script.comments.build do |comments_fields| %>
  <%= comments_fields.label "Add your comment" %>
  <div class="help-block">What do you think about this movie?</div>
  <%= comments_fields.text_field :description, hide_label: true %>
<% end %>




<% if user_signed_in? %>
  <%= link_to "Destroy", genre_script_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<% end %>