<!DOCTYPE html>
<html>
<head>
  <title>Filmr</title>
  <link href='https://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body><br><br><br>
<div class="container">

  <%= render 'layouts/navbar' %>

  <%= yield %>

</div>

</body>
</html>
